html {
   font-size: 10px;
   font-family: 'Rubik', sans-serif;
}

.arrow-down {
   width: 5px;
   height: 5px;
   border-top: 2px solid #0079F0;
   border-right: 2px solid #0079F0;
   transform: rotate(135deg);
   margin-left:5px;
   margin-bottom: 2px;
   display: inline-block;
   transition: 1s;
}

.container {
   max-width: 1400px;
   margin: 0 auto;
   padding: 0 20px;
   display: flex;
   flex-direction: column;
}

.best-bonus {
   background: #F7F8FD;
   margin-top:12px;

   &__title {
      align-self: center;
      text-align: center;
      font-size: 1.4rem;
      line-height: 1.7rem;
      background-image: url('../img/button.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      padding: 13px 67px;
      text-transform: uppercase;
      color:#FFFFFF;
      font-weight: 500;

      &--orange {
         background-image: url('../img/orange-btn.jpg');
      }
   }

   &__raiting {
      display: flex;
      justify-content: space-between;
   }
}

.raiting {
   position: relative;
   padding-bottom: 25px;

   &__bwin {
      display: flex;
      align-items: center;
      width:100px;
      justify-content: space-between;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.1rem;
   }

   &__count {
      align-items: center;
      display: flex;
   }
}

.bwin {

   &__number {
      color: #FFC736;
   }
}

.count {

   &__number {
      font-size: 1.7rem;
      line-height: 2rem;
      padding-right:10px;
   }
}

.raiting::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   background-color:#EBECF599;
   top:40px;
}


.content {
   display: flex;
   padding-top:10px;
   justify-content: space-between;
}

.welcome-container {
   display: flex;
}

.welcome {
   &__subtitle {
      display: flex;
   }

   &__title {
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 2.8rem;
      padding-top:10px;
   }

   &__text {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 2rem;
      color: #72768D;
      max-width:280px;
   }

   &__img {
      margin-right:18px;
   }
}

.subtitle {

   &__img {
      margin-right: 5px;
   }

   &__text {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #72768D;
   }
}

.list {
   display: flex;
   flex-direction: column;
   gap:15px;

   &__item {
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: #72768D;

      &::before {
         content: '';
         display: inline-block;
         width: 15px;
         height: 15px;
         background-image: url('../svg/rocket.svg');
         margin-right:10px;
      }
   }
}

.payment {
   display: flex;
   flex-direction: column;

   &__images {
      display: flex;
      max-width: 270px;
      flex-wrap: wrap;
      gap: 20px 15px;
   }

   &__text {
      position: relative;
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1.5rem;
      color:#A6AAC3;
      text-align:center;
      padding:0 12px;
      padding-top:20px;

      &::after, &::before {
         display: inline-block;
         position: absolute;
         width:86px;
         height:2px;
         background-color: #A6AAC3;
      }

      &::after {
         content: '';
        
         left:0;
         top:27px;
      }

      &::before {
         content: '';
         top:27px;
         right:0;
      }
   }
}

.button {
   display: flex;
   flex-direction: column;
   font-weight: 500;
   font-size: 1.4rem;
   line-height: 1.7rem;
   gap:15px;

   &__claim {
      width: 180px;
      height: 55px;
      background: #53AF1B;
      border-radius: 10px;
   }

   &__review {
      width: 180px;
      height: 55px;
      background: rgba(235, 236, 245, 0.49);
      border-radius: 10px;
   }
}

.analysis {
   margin-top:20px;
   padding-top:20px;
   background-color: #F1F3FD;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 2.5rem;
   color: #72768D;
   flex-direction: row;
   justify-content: space-between;

   &__text {
      max-width: 445px;
   }
}

.advantages-list, .disadvantages-list {
   display: flex;
   flex-direction: column;
   border: 2px solid #EBECF5;
   border-radius: 15px;
   padding: 15px 45px;
   gap:15px;

   &__item {
      &::before {
         content: '';
         display: inline-block;
         width:15px;
         height:15px;
         margin-right:5px;
      }
   }
}

.advantages-list__item::before {
   background-image: url('../svg/like.svg');
}

.disadvantages-list__item::before {
   background-image: url('../svg/dislike.svg');
}